<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Write new Chat</h3>
    <form method="POST"  action="/chats ">
         <input placeholder="enter you" name="from">
         <textarea name="msg">write your massege</textarea>
         <input placeholder="add reciver" name="to"/>
          <button>Create chat</button>
    </form>
</body>
</html>