<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <p class="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores
         autem ipsum fugit sapiente quia
          corporis blanditiis aut, ad 
          itaque eum iste vero,
           nesciunt voluptates facere 
           labore officia ut quis dolorem!</p>

<h1><%=4+5 %></h1>

</body>
</html>